<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head %>
  </head>
  <body>
    <% include ./partials/header %>
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>myExpress</h1>
        <p>This is a template for a simple Raspberry Pi web application.</p>
        <p><a class="btn btn-primary btn-lg" href="https://github.com/hsmptg/myExpress" role="button">GitHub code &raquo;</a></p>
      </div>
    </div>
  </body>
</html>
